<!DOCTYPE html>
<html>
<head>
  <title>Preferences</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<ul class="breadcrumb">
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/search">Search Recipes</a></li>
</ul>

<h1>preferences shit</h1>

  <form class="form-horizontal">
    <fieldset>
      <legend>Allergies</legend>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="dairy" id="dairy"> dairy
        </label>
        <label>
          <input type="checkbox"> egg
        </label>
        <label>
          <input type="checkbox"> gluten
        </label>
        <label>
          <input type="checkbox"> peanut
        </label>
        <label>
          <input type="checkbox"> seafood
        </label>
        <label>
          <input type="checkbox"> sesame
        </label>
        <label>
          <input type="checkbox"> soy
        </label>
        <label>
          <input type="checkbox"> sulfite
        </label>
        <label>
          <input type="checkbox"> tree nut
        </label>
        <label>
          <input type="checkbox"> wheat
        </label>
      </div>
    </fieldset>
  </form>


  <script src="/scripts/jquery.js"></script>
  <script src='/scripts/config.js'></script>
  <script src="/scripts/script.js"></script>
</body>
</html>
