<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <ul class="breadcrumb">
    <li><a href="/preferences">Preferences</a></li>
    <li><a href="/search">Search Recipes</a></li>
  </ul>

  <h1>this is yo dashboard</h1>

<!-- remember to add preferences of user at top and edit link to redirect to preferences page -->



  <script src="/scripts/jquery.js"></script>
  <script src='/scripts/config.js'></script>
  <script src="/scripts/script.js"></script>
</body>

</html>
