.login-p {
  text-align: center;
}

button:focus {
  outline: none;
}
  .main-container {
  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.center-block { float: none }


/* dashboard */
.form-vertical {
  display: inline;
}
.hidden-id {
  display: none;
  visibility: hidden;
}

.grid {
  /* border: 1px solid black; */
  padding: 10px;
  width: 33%;
  display: inline-block;
  text-align: center;
}

h4 {
  font-size: 16px;
}

fieldset {
  /* display: inline; */
  text-align: auto;
}
legend {
  text-align: center;
}

/* sign in page button */
#sign-up-btn, #log-in-btn {
  text-align: center;
}

/* #log-in-btn{
  text-align: center;
} */

/* search page */
.allergies-wrapper, .diets-wrapper, .courses-wrapper, .cuisines-wrapper {
  display: inline-block;
  width: 33%;
  float: left;
  padding: 5% 5% 1% 5%;
  text-align: center;
  margin: 0;
}
/* button */
#submit-prefs {
  text-align: center;
  z-index: 5;
  text-align: center;
}
/* button */
.search-again{

}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    -touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 2px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label {
  display: block;
  padding: 5px;
}

/* dashboard */
.container {
  width: 29%;
  display: inline-block;
  padding: 8px;
  margin: 26px;
  vertical-align: top;
}

.dash-img{
  float: right;
}
.recipe-content{

}
