* {
    /* background-color: pink; */
    /* text-align: center; */
}

button:focus {
  outline: none;
}
  .main-container {
  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.center-block { float: none }


/* dashboard */
.form-vertical {
  display:  inline;
}

fieldset {
  /* display: inline; */
  text-align: auto;
}
legend {
  text-align: center;
}

/* sign in page button */
#signinbut {
  margin-left: 39.666667%;
}

/* search page/preferences */
.allergies-wrapper, .diets-wrapper, .courses-wrapper, .cuisines-wrapper {
  display: inline-block;
  width: 20%;
  float: left;
  padding: 5% 5% 1% 5%;
  text-align: center;
  margin: 0;
}
.submit-prefs-cont {
  text-align: center;
  padding-bottom: 20px;
}
#submit-prefs {
  background-color: #ADD8E6;
  text-align: center;
  z-index: 5;

}

label {
  display: block;
  padding: 5px;
}
