<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<ul class="breadcrumb">
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/preferences">Preferences</a></li>
</ul>

  <h1>test</h1>
  <button id="search-btn">click me</button>




  <script src="/scripts/jquery.js"></script>
  <script src='/scripts/config.js'></script>
  <script src="/scripts/script.js"></script>
</body>
</html>
